*{
  margian: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  front-family: "Pppins, sans-serif;
}
header{
  background-color: #424e61;
  color: white;
  width: 100%;
  padding: 20px;
}
.cabecalho-itens{
  max-widht: 1980px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cabecalho-imagem{
  width: 10%
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.titulo_site{
  padding: 50px;
  text-align: center;
  width: 50%;
  font: 30px;
  
  
  
  
  
